$primaryColor:#EDF5ed;
$secondaryColor:#298456;
$secondaryColor-1:#227b4e;
$secondaryColor-2:#1b6e44;
$thirdColor:#CDDDCD;
$dark1:#121212;
$dark2:#666666;
$dark3:#707070;
$dark4:#9e9e9e;
$warningColor:#E3006E;
